*{
    margin: 0;
    background-color: white;
}
nav{
    text-align: right;
    height: 80px;
    width: 100%;
    color: white;
    background-image: url("https://images.unsplash.com/photo-1558481795-7f0a7c906f5e?ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8cHVycGxlJTIwYmFja2dyb3VuZHxlbnwwfHwwfHw%3D&ixlib=rb-1.2.1&w=1000&q=80")}
#home {
    color: white;
    background-color: black;
}
#about {
    color: white;
    background-color: black;
}
.navItems{
    display: flex;
    justify-content: space-between;
    align-content: center;
    align-items: center;
}
#products {
    background: black;
    color: white;
}
.oceanLogo{
    width: 100%;
    height: 300px;
    background-image: url("https://s3.envato.com/files/251688753/preview-image.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
}
.logo{
    width: 60px;
    height: 60px;
    background-color: white;
    display: flex;
}
.navigation_text{
    height: 60px;
    width: 320px;
    display: flex;
}
.insideproduct{
    color: cadetblue;
    width: 100%;
    height: 30px;
    display: flex;
}
.smallContentBox {
    background-color: cadetblue;
    min-height: 100px;
    min-width: 200px;
    flex-direction: column;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin: 15px;
}
.smallContentBoxBar{
    background-color: steelblue;
    width: 100%;
    height: 30px;
    display: flex;
}
h1 {
    color: black;
    background-color: steelblue;
}

p{
    color:black;
    background-color: steelblue;
    margin: 4px;
}
.p2{
    color:black;
    background-color: steelblue;
    font-size: 30px;
}

.wrapper{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: center;
    align-content: center;
}
.smallContentBox {
    background-color: blue;
    min-height: 100px;
    min-width: 200px;
    flex-direction: column;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin: 15px;
}
.last_two{
    font-size: x-large;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: center;
    height: 800px;
}

.lipsumContain{
    height: 250px;
    background-color: steelblue;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
}

.lipsumBox{
    max-width: 600px;
    max-height: 144px;
}
.largeBoxContain {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
    height: 400px;
    align-items: center;
}
.largeContentBoxBar {
    background-color: blue;
    width: 100%;
    height: 50px;
    flex-direction: column;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;}

.largeContentBox {
    background-color: steelblue;
    height: 250px;
    width: 500px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

p{
    color: black;
}
footer {
    width: 100%;
    height: 60px;
    background-color: cadetblue;
    bottom: 0;
    left: 0;
}
.footer_text{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-content: center;
    justify-content: space-around;
}
.copyright{
    display: flex;
}

.copyrightYearContain{
    display:flex;
}

*{
    margin: 0;
}

nav{
    height: 60px;
    width: 100%;
    background-color: blue;
    position: fixed;
    display: flex;
    justify-content: space-between;
}

@media screen and (min-width: 800px) {
    .box{
        width:801px;
    }
    .wrapper{
        background-color: green;
        justify-content: stretch;
    }
    .placeHolderlol{
        display: none;
    }

}

@media screen and (max-width: 800px) {
    .navigation_text{
        display: none;
    }

}

.menuIcon {
    height: 100%;
    width: 60px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    cursor: pointer;
}
.bar {
    height: 6px;
    width: 70%;
    background-color: black;
}
.menu {
    position: fixed;
    top: 60px;
    right: -150px;
    width: 150px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    color: white;
    background-color: #9090ff;
    min-height: 150px;
    transition: 0.125s;
}